*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: #FFFDF1;
}
.website-bg-color{
    background-color: #F94A3D;
}
.website-text-color{
    color:#F94A3D;
}
.logo-d{
    padding-inline: 5px;
    font-weight: 900;
}
.logo-section{
font-family: Poppins;
font-size: 30px;
font-weight: 700;
line-height: 28px;
letter-spacing: -0.01em;
text-align: left;

}
.nav-item-menu ul{
display: flex;
justify-content: space-evenly;
}
.nav-item-menu ul li{
  list-style: none;
}
.nav-item-menu ul a{
    text-decoration: none;
    color: black;
}
.right-section{
 padding-left: 50px;
 gap: 20px;
}
.search{
   justify-content: center;
   align-items: center;
   gap: 5px;
   background-color: white;
   border: 1px solid rgb(201, 201, 201);
   height: 30px;
   padding: 10px;
   border-radius: 5px;
}
.search-text{
    background-color: white;
    color: rgb(180, 180, 180);
    /* border-right: 1px solid  rgb(180, 180, 180);; */
}
.search .icon{
    background-color: white;
}
.btn{
    color: var(--food-delivery-white-color, #FFF);
font-family: Poppins;
font-size: 16px;
padding: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.16px;
}
.cart-item{
    position: relative;
}
.cart-item img{
    width: 16.304px;
    height: 18.478px;
}
.car__count {
    display: flex;
    background-color: #F94A3D;
    position: absolute;
    top: -4px;
    right: -8px;
    color: white;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 12px;
}
/* hero section */

.hero-section{
 background-color: #FFFDF1;
}
.more-than{
    color: var(--food-delivery-orange-color, #F94A3D);
font-family: Poppins;
font-size: 18px;
font-style: normal;
background-color: #FDECEC;
border-radius: 40px;
padding: 10px;
font-weight: 700;
line-height: 16px; /* 88.889% */
}
.more-than>img{
    background-color: white;
    border-radius: 50%;
}
.hero-heading{
    color: #212244;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 70px; /* 116.667% */
}
.hero-description{
    color: var(--food-delivery-p, #69697B);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
max-width: 418px;
line-height: 32px; /* 177.778% */
}

/* after hero section */

.grid{
    gap:20px;
}
.best-in-town-heading{
    color: var(--food-delivery-pg, #212244);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 120.833% */
}
.best-in-town-description{
    color: var(--food-delivery-p, #69697B);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
max-width: 273px;
line-height: 31px; /* 172.222% */
}
.best-town-img-heading{
    color: #212244;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 133.333% */
}
.grid-box2{
    /* box-shadow: 0px 8px 1px rgb(162, 162, 162); */
    border-radius: 20px;
    box-shadow: 0 8px 5px rgb(226, 226, 9);
    padding-inline: 20px;
    /* gap:10px; */
}
.grid-box1{
    /* box-shadow: 0px 8px 1px rgb(162, 162, 162); */
    border-radius: 20px;
    box-shadow: 0 8px 5px rgb(218, 218, 218);
    padding-inline: 20px;
    /* gap:10px; */
}
.grid-box3{
    /* box-shadow: 0px 8px 1px rgb(162, 162, 162); */
    border-radius: 20px;
    box-shadow: 0 8px 5px rgb(180, 180, 180);
    padding-inline:20px;
    /* gap:10px; */
}

/* out top special */

.special-rec-heading{
    color: var(--food-delivery-pg, #212244);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.special-menu>ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.special-menu>ul>li{
    color: var(--food-delivery-pg, #212244);
    font-family: Poppins;
    font-size: 18px;
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
}
.first-item{
    border-bottom: 2px solid #F94A3D;
    color: #F94A3D;
}
.icon{
   /* align-items: center; */
  margin-left: 60px;
}
.svg{
    margin-top: 20px;
    text-align: center;
}
.svg .title{
    color: var(--food-delivery-pg, #212244);
text-align: center;
font-family: Poppins;
font-size: 20px;
padding: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.svg .price{
    color: var(--food-text-color-2, #69697B);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
}
.svg .website-text-color-span{
    color: var(--food-delivery-orange-color, #F94A3D);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}
.btn-addtocart{
    border: 1px solid #F94A3D;
    margin-top: 10px;
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    color: #F94A3D;
    margin-bottom: 10px;
}
.btn-addtocart:hover{
    background-color: #F94A3D;
    color:white;
}
.active-btn{
    background-color: #F94A3D;
    color:white;
}

.tesmonial{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px;
}
.testmonial-box{
    width: 23vw;
    display: flex;
    background-color: transparent;
    flex: 1;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    gap: 25px;
    margin-bottom: 10px;
}
#testmonial-box1{
background-color: white;
width: 23vw;
display: flex;
/* background-color: transparent; */
flex: 1;
align-items: center;
padding: 8px;
border-radius: 10px;
gap: 25px;
margin-bottom: 10px;

}
.tesmonial_img{
    display: inline-block;
}
.tesmonial_left{
    margin: 30px;
}
.title{
    color:#212244;
font-family: Poppins;
font-size: 25px;
font-weight: 500;
margin-bottom: 0px !important;
}

.des{
    color: var(--food-text-color-2, #69697B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tesmonial_midle{
    border: 2px solid gray;
    border-top:100px solid #F94A3D;
    margin: 40px;
}
.tesmonial_right>h1{
    color: var(--food-delivery-pg, #212244);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 125% */
    letter-spacing: 0.96px;
}
.tesmonial_right>h1>span{
    color: var(--food-delivery-orange-color, #F94A3D);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.96px;
}
.tesmonial_right{
    margin-top: 20px;
   margin-inline: 50px;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.review-title{
    color: var(--food-delivery-pg, #212244);
font-family: Poppins;
font-size: 28px;
font-weight: 600;
line-height: 42px; /* 150% */
margin-bottom: 0px !important;
}
.review-des{
    color: var(--food-text-color-2, #69697B);
font-family: Poppins;
font-size: 18px;
font-weight: 400;
margin-bottom: 0px !important;
}
.review_left{
    border-left: 5px solid #F94A3D;
    padding-left: 30px;
}
.test-right_des{
    color: var(--food-delivery-p, #69697B);
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 172.727% */
}
.call_to_action{
    border-radius: 40px;
background: var(--food-delivery-orange-color, #F94A3D);
height: 70vh;
width: 100vw;
}
footer{
    background: var(--food-delivery-gradient-bg, linear-gradient(285deg, #FDF0F3 2.04%, rgba(255, 253, 242, 0.50) 50.97%, #FDEEF3 100.85%));
}
.footer{
    margin-top: 20%;
}
.shop-information{
    color: var(--food-delivery-p, #69697B);
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
letter-spacing: -0.16px;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    text-align: justify;
}
table tbody tr th{
    text-align: center;
}
ul{
    margin-top: 30px;
    margin-left: 55px;
}
ul li{
    list-style: none;
    padding: 8px;
}